.card {
    width: 80%;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
  }
  
  .left-div {
    flex: 2;
    margin: auto;
  }
  
  .right-div {
    flex: 2;
    margin: auto;
  }

img{
    height: 20rem;
}