<div class="card mat-elevation-z4">


  <div class="left-div">
   

    <img  src="assets/img/helpdesk-home.svg" alt="Help Desk Home Image">

  </div>
  <div class="right-div">
      
         <p>
          Olá! <b> {{ username }}</b>, seja bem-vindo ao sistema <b>HelpDesk</b>.<br />
          Nosso sistema oferece diversas funcionalidades para ajudar você a lidar com seus chamados de forma eficiente. Aqui estão algumas das principais características:
         </p>
   
          <b>Status dos Chamados:</b>
          
          <ul>
            <li><b>Aberto:</b> O chamado foi registrado e está aguardando atendimento.</li>
            <li><b>Em andamento:</b> O chamado está sendo trabalhado por um técnico.</li>
            <li><b>Fechado:</b> O chamado foi resolvido e encerrado.</li>
          </ul> 

          <b>Prioridade dos Chamados:</b>

          <ul>
            <li><b>Baixa:</b> Chamados com baixa prioridade são menos urgentes e podem ter um tempo de resposta maior.</li>
            <li><b>Média:</b> Chamados com prioridade média são importantes, mas não exigem uma resolução imediata.</li>
            <li><b>Alta:</b> Chamados com alta prioridade são urgentes e requerem atenção imediata.</li>
          </ul>
  
  </div>
</div>