.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(138, 120, 232);
  }

  .left-div {
    flex: 1;
    min-width: 200px;
    margin: auto;
  }

  .right-div {
    flex: 1;
    min-width: 200px;
    margin: auto;
  }

  @media (max-width: 768px) {
    .container {
      height: auto;
      padding-top: 0;
    }

    .left-div,
    .right-div {
      min-width: auto;
      margin: 1rem auto;
    }
  }
.form{
    width: 20rem;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 4rem 1rem;
    border-radius: .25rem;
}

.full-width{
    width: 100%;
    
}

.logo-login{
    width: 15rem;
    height: 10rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

button{
    border-radius: .25rem;
    margin-top: 1rem;
    background: rgb(138,120,232);
    color: rgb(255, 255, 255);
    
}

mat-label{
    color: rgb(138,120,232);
}

input{
    color: rgb(138,120,232);
}