<div class="container">
  <div class="left-div">
      <form class="form mat-elevation-z8">
          <img class="logo-login" src="assets/img/helpdesk-logo-login.svg" alt="helpdesk-logo-login">
      
          <mat-form-field class="full-width" appearance="standard">
              <mat-label>E-mail</mat-label>
              <input [formControl]="email" required [(ngModel)]="credentials.email" name="email" matInput placeholder="JohnDoe@mail.com">
          </mat-form-field>

          <mat-form-field class="full-width rounded" appearance="standard">
              <mat-label>Senha</mat-label>
              <input [formControl]="password" required [(ngModel)]="credentials.password" name="password" type="password" matInput placeholder="abc123">
          </mat-form-field>

          <button (click)="login()" [disabled]="!validateFields()" class="full-width" mat-flat-button>Entrar</button>
      </form>
  </div>
  <div class="right-div">
    <img src="assets/img/login-banner.svg" alt="helpdesk-logo-login">
  </div>
</div>
