.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(138,120,232);
}

.form{
    width: 30rem;
    background-color: #FFF;
    margin: auto;
    padding: 4rem 1rem;
    border-radius: 1rem;
}

.full-width{
    width: 100%;
    
}

img{
    width: 20rem;
    height: 10rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

button{
    border-radius: 3rem;
    margin-top: 1rem;
}

