.card{
    width: 40%;
    margin: 0 auto 1rem;
    padding: 1rem;
    border-radius: .6rem;

}

.fullWith{
    width: 100%;
}
.section{
    display: flex;
    justify-content: space-evenly;
    height: 1rem;
}
img{
    height: 8rem;

}

h1{
    text-align: center;
    height: 1rem;
}
button{
    margin-bottom: .5rem;
    margin-right: 1rem;
    border-radius: 3rem;
}

.icon{
    color: rgb(138,120,232);
}